$primary-color: hsl(205, 100%, 47%);
$default-color: #424242;
$sub-default-color: #737875;

$large-font-size: 24px;
$medium-font-size: 16px;
$small-font-size: 12px;

$default-border-radius: 16px;
$small-border-radius: 8px;
